{{page-title "RecipeBook"}}

<nav class="navbar">
  <LinkTo @route="recipes" class="nav-link">Home</LinkTo>
  <LinkTo @route="create-recipe" class="nav-link">Create Recipe</LinkTo>
    <LinkTo @route="favorites" class="nav-link">Favorites</LinkTo>

</nav>
<div class="container">
  {{outlet}}
</div>